<?xml version="1.0" encoding="UTF-8"?>
<Package version="1.0">
	<AppVersion>@VERSION@</AppVersion>
	<locale>zh-TW</locale>
	<packageUrl>http://download.myfirefox.com.tw/releases/webins3.0/@CHINA_CHANNEL_PREFIX@/official/zh-TW/Firefox-latest.exe</packageUrl>
	<resUrl></resUrl>
	<extUrl></extUrl>
	<setup rebuild="0">
	<scriptDir></scriptDir>
	</setup>
	<distribution bundle="2"></distribution>
	<template></template>
	<Addons>
		<hidden>
			<addon>
				<id>tpmanager@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>twhomepage@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
		</hidden>
		<default>
			<addon>
				<id>fx-improvement@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>quicklaunch@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>tabimprovelite@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>fontsetter@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>personas@christopher.beard</id>
				<branch>0</branch>
			</addon>
			<addon>
				<id>zoompanel@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
			<addon>
				<id>easyscreenshot@mozillaonline.com</id>
				<branch>master</branch>
			</addon>
		</default>
		<other>
			<addon>
				<id>null</id>
				<branch>null</branch>
			</addon>
		</other>
	</Addons>
</Package>
